/* ====CLIENTS===*/
.clients {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        flex-basis: calc(100% / 2 - 30px);
    
       
    
        @media screen and (min-width: $tablet) {
            flex-wrap: wrap;
            flex-basis: calc(100% / 3 - 60px);  
        }
           
        
         @media screen and (min-width: $desktop) {
                     flex-wrap: nowrap;
        }
  

    &-icon {
            fill: currentColor;
        }
}








