
body {
    font-family: Roboto, sans-serif;
    color: $primary-text-color;

    font-style: normal;
    font-size: $primary-font-size;

}

html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}