 $primary-text-color: #212121;
 $secondary-text-color: #757575;
 $accent-color: #2196f3;
 $hero-text-color: #ffffff;
 $focus-hover-color-button: #188ce8;
 $hero-footer-background-color: #2f303a;
 $section-background-color: #f5f4fa;
 $focus-hover-color-text: #ffffff;
 $filter-button-text: #212121;
 $icon-color: #afb1b8;

 $primary-font-size: 14px;
 $logo-font-size: 26px;
 $hero-button-font: 16px;
 $hero-font: 44px;
 $section-heading-font: 28px;
 $team-members-font: 16px;
 $project-name: 18px;

 $mobile: 480px;
 $tablet: 768px;
 $desktop: 1200px;